@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@font-face {
  font-family: "Digital";
  src: url(./Digital7-1e1Z.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #c2c2d6;
}

.cal {
  border: 2px solid #47476b;
  padding: 10px 5px 5px 5px;
  background-color: black;
  width: 320px;
}
.cal input {
  background-color: black;
  border: black;
  width: 100%;
  text-align: right;
}
.cal input:focus-visible {
  outline: black;
}
.cal .buttons {
  display: flex;
  flex-wrap: wrap;
  height: 325px;
}

.cal button:hover {
  outline: 0.05em solid grey;
  z-index: 3;
}

.cal button {
  font-family: "Share Tech Mono", monospace;
  height: 65px;
  width: 80px;
  border: 1px solid black;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.sym {
  background-color: rgb(102, 102, 102);
}

.int {
  background-color: #4d4d4d;
}

.zero {
  width: 160px !important;
}
.equal {
  position: relative;
  background-color: rgb(0, 68, 102);
  height: 130px !important;
  top: -65px;
}

.clear {
  width: 160px !important;
  background-color: rgb(172, 57, 57);
}

.formulaScreen {
  color: orange;
  font-family: "Digital";
  font-size: 18px;
  height: 20px;
  line-height: 20px;
}

.outputScreen {
  font-size: 28px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-family: "Digital";
  font-family: 100;
}
.footer {
  font-family: "Girassol", cursive;
  margin-top: 2em;
}

.footer a {
  text-decoration: none;
  color: black;
  display: block;
}

@media (max-width: 350px) {
  .cal {
    width: 90vw;
  }
  .cal .buttons {
    height: 250px;
  }
  .cal button {
    width: calc(90vw / 4);
    height: 50px;
  }
  .clear,
  .zero {
    width: calc(90vw / 2) !important;
  }
  .equal {
    height: 100px !important;
    top: -50px;
  }
}
