@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
}

.cal {
  border: 2px solid #47476b;
  padding: 5px;
  background-color: black;
  text-align: right;
}

.formulaScreen {
  min-height: 20px;
  color: orange;
}

.outputScreen {
  font-size: 20px;
  color: #fff;
}
.footer {
  font-family: "Girassol", cursive;
}

.footer a {
  text-decoration: none;
  color: black;
  display: block;
}
